extend base/_layout
append variables
	//- Required
	- const pageTitle= "Template";
	- const pageDescription= site.description;
	- const pageKeywords= site.keywords;
	- const key = ""
	//- Optional
	- const pageOgpTitle= "";
	- const pageOgpImage= site.ogpImage
	- const pageLang= "ja";
	- const pageOgpType= "website";
	//- Not modified
	- const pageUrl= site.relativePath;

block content
	.Top
		.Top__Inner
			h2.Top__Title
				| Welcome!
				br
				| My Template WebSite.
			.Top__Button
				a(href="#").button
					| Get Source Code
					
	.Portfolio
		.Portfolio__Inner
			h2.Portfolio__Title
				| Portfolio
			.Portfolio__Title--Line
			nav.Portfolio__Navigation
				ul.Portfolio__Block
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Home
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Portfolio
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| About
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Contact
			.Portfolio__Images
				- for (let i = 1; i < 10; i++)
					.Portfolio__Items
						a(href="#").Portfolio__Item
							img(src="../img/dummy.jpg").Portfolio__Image
							span.Portfolio__Text
								| Template
							img(src="../img/right-arrow_white.svg").Portfolio__Arrow
			a(href="#").Portfolio__Button
				| more
				img(src="../img/right-arrow_blue.svg").Portfolio__Button--Image
