extend base/_layout
append variables
	//- Required
	- const pageTitle= "Template";
	- const pageDescription= site.description;
	- const pageKeywords= site.keywords;
	- const key = ""
	//- Optional
	- const pageOgpTitle= "";
	- const pageOgpImage= site.ogpImage
	- const pageLang= "ja";
	- const pageOgpType= "website";
	//- Not modified
	- const pageUrl= site.relativePath;

block content
	.Top
		.Top__Inner
			h2.Top__Title
				| Welcome!
				br
				| My Template WebSite.
			.Top__Button
				a(href="#").button
					| Get Source Code
					
	.Portfolio
		.Portfolio__Inner
			h2.Portfolio__Title
				| Portfolio
			.Portfolio__Title--Line
			nav.Portfolio__Navigation
				ul.Portfolio__Block
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Home
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Portfolio
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| About
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Contact
