extend base/_layout
append variables
	//- Required
	- const pageTitle= "Template";
	- const pageDescription= site.description;
	- const pageKeywords= site.keywords;
	- const key = ""
	//- Optional
	- const pageOgpTitle= "";
	- const pageOgpImage= site.ogpImage
	- const pageLang= "ja";
	- const pageOgpType= "website";
	//- Not modified
	- const pageUrl= site.relativePath;

block content
	.Top
		.Top__Inner
			h2.Top__Title
				| Welcome!
				br
				| My Template WebSite.
			.Top__Button
				a(href="#").button
					| Get Source Code
					
	.Portfolio
		.Portfolio__Inner
			h2.Portfolio__Title
				| Portfolio
			.Portfolio__Title--Line
			nav.Portfolio__Navigation
				ul.Portfolio__Block
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Home
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Portfolio
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| About
					li.Portfolio__List
						a(href="#").Portfolio__List--Link
							| Contact
			.Portfolio__Images
				- for (let i = 1; i < 10; i++)
					.Portfolio__Items
						a(href="#").Portfolio__Item
							img(src="../img/dummy.jpg").Portfolio__Image
							span.Portfolio__Text
								| Template
							img(src="../img/right-arrow_white.svg").Portfolio__Arrow
			a(href="#").Portfolio__Button
				| more
				img(src="../img/right-arrow_blue.svg").Portfolio__Button--Image
		
	.About
		.About__Inner
			h2.About__Title
				| About me
			.About__Title--Line
			.About__Contents
				img.About__Image(src="../img/about.jpg")
				.About__Description
					h3.About__Name
						| John Smith
					.About__Title--Line
					i.fas.fa-briefcase
					p.About__Job
						| Web Designer / Frontend Engineer / Photographer
					p.About__Myself
						| hogeeee
					i.fas.fa-link
					a(href="#").About__Link
						| http://sample.com
					.About__Share
						a(href="#"): i.fab.fa-facebook-f.fa-2x.faa-pulse.animated
						a(href="#"): i.fab.fa-twitter.fa-2x
						a(href="#"): i.fab.fa-instagram.fa-2x

	.What
		.What__Inner
			h2.What__Title
				| What I can do
			.What__Title--Line
			.What__Items
				.What__Item
					i.fas.fa-laptop.fa-4x.fa-what
					h3.What__Skill
						| WEB DESIGN
					.What__Skill--Line
					p.What__Description
						| hogehoge
				.What__Item
					i.fas.fa-code.fa-4x.fa-what
					h3.What__Skill
						| CODING
					.What__Skill--Line
					p.What__Description
						| hogehoge
				.What__Item
					i.fas.fa-camera.fa-4x.fa-what
					h3.What__Skill
						| PICTIURE
					.What__Skill--Line
					p.What__Description
						| hogehoge
	
	.Contact
		h2.Contact__Title
			| Contact
		.Contact__Title--Line
		p.Contact__Description
			| Please feel free to contact the following e-mail address.
			br
			| If you are interested please confirm "Request method".
		.Contact__Address
			i.far.fa-envelope.fa-3x
			h3.Contact__Email
				| sample@sample.com
		p.Contact__Message
			| I will reply by the next business day.

block js
