.button{
  color: #FFFFFF;
  background-color: $color-blue;
  padding: 11px 27px 16px 27px;
}

.Portfolio__Button{
  color: $color-blue;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2px;
  text-align: right;
  margin-right: 13px;
  padding-bottom: 60px;
  position: relative;
  &--Image{
    width: 13px;
    height:6.5px;
    position: absolute;
    top: 8px;
  }
}
