.Top{
  max-width: $max-width;
  width: 100%;
  font-family: Roboto;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
  @include sp{
    padding: 20px 15px 40px 15px;
  }
  &__Title{
    color: $color-black;
    font-size: 50px;
    font-weight: 545;
    line-height: 59px;
    letter-spacing: 0.13px;
    @include sp{
      font-size: 30px;
      line-height: 35px;
    }
  }
  &__Button{
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    margin: 60px 0;
    @include sp{
      margin: 60px 0 0 0;
    }
  }
}

.Portfolio{
  max-width: $max-width;
  width: 100%;
  font-family: Roboto;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
  @include sp{
    padding: 20px 15px 40px 15px;
  }
  &__Inner{
    display: flex;
    flex-direction: column;
  }
  &__Title{
    color: $color-black;
    font-size: 40px;
    font-weight: 545;
    line-height: 47px;
    margin-top: 60px;
    padding-bottom: 20px;
    @include sp{
      font-size: 30px;
      line-height: 35px;
      margin: 0;
    }
    &--Line{
      width: 50px;
      border-bottom: 2px solid $color-gray;
    }
  }
  &__Images{
    display: flex;
    flex-wrap: wrap;
  }
  &__Items{
    width: 380px;
    height: 288px;
    margin-right: 15px;
    margin-bottom: 14px;
    position: relative;
    @include sp{
      width: 450px;
      height: 300px;
      margin: 0 auto 15px auto;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &:nth-child(3n){
      margin-right: 0;
    }
  }
  &__Item{
    width: 100%;
    height: 100%;
    display: block;
    &:hover > .Portfolio__Hovers{
      opacity: 1;
    }
  }
  &__Hovers{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: all .2s;
  }
  &__Image{
    width: 100%;
    height: 100%;
  }
  &__Text{
    width: 128px;
    height: 36px;
    color: $color-base;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.33px;
    position: absolute;
    top: 125px;
    right: 125px;
    @include  sp{
      right: 165px;
    }
  }
  &__Arrow{
    width: 19px;
    height: 19px;
    position: absolute;
    top: 135px;
    right: 90px;
    @include sp{
      right: 120px;
    }
  }
}

.About{
  max-width: $max-width;
  width: 100%;
  font-family: Roboto;
  padding: 60px 25px;
  margin: 0 auto;
  box-sizing: border-box;
  @include sp{
    padding: 20px 15px 40px 15px;
  }
  &__Title{
    color: $color-black;
    font-size: 40px;
    font-weight: 545;
    line-height: 47px;
    margin-top: 60px;
    padding-bottom: 20px;
    @include sp{
      font-size: 30px;
      line-height: 35px;
      margin: 0;
    }
    &--Line{
      width: 50px;
      border-bottom: 2px solid $color-gray;
      margin-bottom: 40px;
      @include sp{
        margin-bottom: 30px;
      }
    }
  }
  &__Contents{
    display: flex;
    @include sp{
      flex-direction: column;
    }
  }
  &__Image{
    width: 400px;
    height: 450px;
    padding-right: 80px;
    @include sp{
      width: 250px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 30px 0;
      margin: 0 auto;
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include sp{
        border-radius: 50%;
      }
    }
  }
  &__Name{
    color: $color-black;
    font-size: 30px;
    font-weight: 545;
    line-height: 35px;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
  }
  &__Job{
    color: $color-black;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 0 0 60px 5px;
    display: inline-block;
    @include sp{
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }
  }
  &__Myself{
    color: $color-gray;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 60px;
    word-break: break-all;
    @include sp{
      margin-bottom: 40px;
    }
  }
  &__Link{
    color: #528DD1;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin: 0 0 25px 5px;
    display: inline-block;
  }
}
.fab{
  color: black;
  padding-right: 20px;
}

.What{
  max-width: $max-width;
  width: 100%;
  font-family: Roboto;
  padding: 60px 25px;
  margin: 0 auto;
  box-sizing: border-box;
  @include sp{
    padding: 20px 15px 40px 15px;
  }
  &__Title{
    color: $color-black;
    font-size: 40px;
    font-weight: 545;
    line-height: 47px;
    margin-top: 60px;
    padding-bottom: 20px;
    @include sp{
      font-size: 30px;
      line-height: 35px;
      margin: 0;
    }
    &--Line{
      width: 50px;
      border-bottom: 2px solid $color-gray;
      margin-bottom: 40px;
    }
  }
  &__Items{
    display: flex;
    justify-content: space-between;
    @include sp{
      flex-direction: column;
    }
  }
  &__Item{
    margin: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sp{
      margin-right: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__Skill{
    color: $color-black;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    @include sp{
      padding-bottom: 10px;
    }
    &--Line{
      width: 30px;
      border-bottom: 2px solid $color-gray;
      margin-bottom: 20px;
    }
  }
  &__Description{
    color: $color-gray;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    word-break: break-all;
  }
}

.fa-what{
  padding-bottom: 20px;
}

.Contact{
  max-width: $max-width;
  width: 100%;
  font-family: Roboto;
  padding: 60px 25px;
  margin: 0 auto;
  box-sizing: border-box;
  @include sp{
    padding: 20px 15px 40px 15px;
  }
  &__Title{
    color: $color-black;
    font-size: 40px;
    font-weight: 545;
    line-height: 50px;
    margin-top: 60px;
    padding-bottom: 20px;
    @include sp{
      font-size: 30px;
      line-height: 35px;
      margin: 0;
    }
    &--Line{
      width: 50px;
      border-bottom: 2px solid $color-gray;
      margin-bottom: 40px;
    }
  }
  &__Description{
    color: $color-gray;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    padding-bottom: 40px;
    @include sp{
      padding-bottom: 25px;
    }
  }
  &__Address{
    display: flex;
  }
  &__Email{
    color: $color-black;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.61px;
    margin: 0 0 20px 10px;
  }
  &__Message{
    color: $color-gray;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
}
