// Break point
@mixin breakpoint( $point ) {
	@if $point == sp {
		@media ( min-width: 480 ) {
			@content ;
		}
	}
	@if $point == table {
		@media ( min-width: 769px ) {
			@content ;
		}
	}
	@if $point == full {
		@media ( min-width: 1200px ) {
			@content ;
		}
	}
}

@mixin beforeafter {
	content: "";
	display: block;
}

@mixin clearfix {
	content: "";
	clear: both;
	display: block;
}

@mixin opacity( $opacity, $color01:#000 ) {
	background-color: rgba( $color01, $opacity );
}
