nav.l-Header__Navigation
  ul.l-Header__Block
    li.l-Header__List
      a(href="#").
        | Home
    li.l-Header__List
      a(href="#").l-Header__List--Link
        | Portfolio
    li.l-Header__List
      a(href="#").l-Header__List--Link
        | About
    li.l-Header__List
      a(href="#").l-Header__List--Link
        | Contact
