nav.Header__Navigation
  ul.Header__Block
    li.Header__List
      a(href="#").Header__List--Link
        | Home
    li.Header__List
      a(href="#").Header__List--Link
        | Portfolio
    li.Header__List
      a(href="#").Header__List--Link
        | About
    li.Header__List
      a(href="#").l-Header__List--Link
        | Contact
